body {
  margin: 0%;
  background-color: #FCD2AF;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E49B53;
  z-index: 2;
  display:flex;
  justify-content: space-evenly;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 5%;
}
.nav-item {
  float:left
}
.nav-item a {
  display: block;
  color: #47291b;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16pt;
  
}
.nav-item a:hover {
  background-color: #DC7546;
}


.image-container {
  position: relative;
  display: inline-block;
  
  
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;

}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #ABBBCB; 
  border: #FCD2AF solid 3px;
  color: #47291b; 
  padding: 10px 20px; 
  font-size: 48pt; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}
.about {
 display: flex;
 margin-left: auto;
 
}
.headshot {
  margin-left: 5%;
  padding-top: 0%;
  height: 720px;
  width: auto;
  display: flex;
  flex-wrap: wrap;

}
.about h1 {
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 24pt;
  margin-left: 5%;
  margin-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
  color: #47291b;
}

.about p {
  padding-top: 17%;
  word-spacing: 2px;
  text-indent: 15px;
  line-height: 170%;
  margin-left: 7%;
  margin-right: 5%;
  text-align: center;
  font-size: 17pt;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  color: #47291b;
 
}

.contact-header {
  position: absolute;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #47291b; 
  padding: 10px 20px; 
  font-size: 54px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.design-header {
  position:relative;
  display: block;
  top: 17%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #47291b; 
  padding: 10px 20px; 
  font-size: 54px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.coding-header {
  position:relative;
  display: block;
  top: 17%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #47291b;  
  font-size: 54px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.design-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  font-size: 14pt;
  
}

figcaption {
  margin-top: 10px;
}

.about-button {
  padding: 10px 20px;
    background-color: #DC7546;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
  
}

#rightWrapper {
  width: 40%;
  float: right 
}

#rightBottom {
  text-align: center;
}

footer {
  background-color:#A1B7B4;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 20px;
  padding-bottom: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  color: #47291b;
  
}

.copyright {
  text-align: left;
  display: inline-block;
  padding-left: 10%;

}

.author {
  padding-right: 10%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}

.img-links-container {
  margin-top: 100px;
  background-color: #D45F2C;
  align-items: center;
  display:flex;
  justify-content:space-between;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-wrap: wrap;
}

.img-links {
  margin: 40px;
  border: #F0CCCC solid 4px;
  display: inline-block;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.contact-imgs-container {
  
  margin-top: 3.5in;
  background-color: #A1B7B4;
  align-items: center;
  display:flex;
  justify-content:space-between;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-wrap: wrap;

}

.contact-imgs {
  margin: 25px;
  display: inline-block;
  width: 100px;
  height: 100px;
}



.contact-links {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  color: #47291b;
  font-size: 14pt;
}
.coding-imgs-container {
  
  margin-top: 1.89in;
  align-items: center;
  display:flex;
  justify-content:space-between;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-wrap: wrap;

}

.coding-imgs {
  margin: 10px;
  display: inline-block;
  width: 250px;
  height: 250px;
  border:#A1B7B4 solid 5px;
}

.coding-links-container {
  
  margin-top: 0px;
  align-items: center;
  display:flex;
  padding-right: 0px;
  padding-bottom: 10px;
  position: absolute;
  top: 78%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  
}

.coding-links {

  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  color: #47291b;
  
}

.coding-figures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  font-family: monospace;
  font-size: 14pt;
  
}

.citations {
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  position: absolute;
  left: 48%;
  color: #47291b;
}

.designport {
  height: 80%;
  width: auto;
  border: #D45F2C solid 5px;
  
}
.translate-button {
  position: fixed;
  bottom: 0;
  display: inline-block;
  background-color: #E49B53;
  color: #47291b;
  text-align: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16pt;
  border-color: #705b4e;
}

  .translate-button:hover {
    background-color: #DC7546;
  }